.items-block{
    height: 310px;
    margin-top: 50px;
}
.items-block>div{
    position: relative;
    width:100px;
    height: 250px;
    background: white;
    display: inline-block;
}
.item-first {
    left: 50px;
    z-index: 5;
}
.item-second {
    left: 10px;
    /*    top: 25px;*/
    z-index: 2;
}
.item-third { 
    left: -30px;
    z-index: 1;
}
.items-block>div:hover {
    z-index: 10;
    top: -25px;
}