#globalNav li {
    list-style: none;
}
/* 
Primary navigation
*/
#globalNav {
    float: left;
    padding: 0;
    width: auto;
    height: 48px;
    background: url('/img/header_sprite_24bit.png') no-repeat -20px -39px;
    position: relative;
    z-index: 9999;
}
#globalNav ul {
    width: 650px;
    height: 48px;
    line-height: 48px;
    margin: 0;
    padding: 0;
    float: left;
}
#globalNav ul ul {
    height: auto;
}

#globalNav ul {
    margin: 0;
    padding: 0;
}
#globalNav li {
    float: left;
    height: 48px;
}
#globalNav li.singleColumn {
    position: relative;
}
#globalNav li a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    text-shadow: 0 1px 0 #198cb6;
    cursor: pointer;
    padding: 0 0 0 10px;
    float: left;
    outline: none;
    overflow: hidden;
    max-height: 48px;
}
#globalNav li.first a {
    padding: 0 0 0 24px;
}
#globalNav li a span {
    height: 48px;
    padding: 0;
    padding-right: 10px;
    float: right;
}
#globalNav li a:hover {
    background: transparent url('/img/header_sprite_24bit.png') no-repeat -300px -88px;
}
#globalNav li.first a:hover {
    padding-left: 24px;
    background: transparent url('/img/header_sprite_24bit.png') no-repeat 0 -88px;
}
#globalNav li a:hover span {
    background: transparent url('/img/header_sprite_24bit.png') no-repeat right -88px;
}
#globalNav li.selected {
    background: transparent url('/img/header_sprite_24bit.png') no-repeat -300px -88px;
}
#globalNav li a:active {
    background: transparent url('/img/header_sprite_24bit.png') no-repeat -300px -137px;
}					
#globalNav li.first a:active {
    padding-left: 24px;
    background: transparent url('/img/header_sprite_24bit.png') no-repeat 0 -137px;
}
#globalNav li.first.selected {
    background: transparent url('/img/header_sprite_24bit.png') no-repeat 0 -88px;
}
#globalNav li.selected span {
    background: transparent url('/img/header_sprite_24bit.png') no-repeat right -88px;
}
#globalNav li a:active span {
    background: transparent url('/img/header_sprite_24bit.png') no-repeat right -137px;
}
#header div.middleContent div#globalNav div.searchfield {
    width: 165px;
    float: right;
    height: 48px;
    background: transparent url('/img/header_sprite_24bit.png') no-repeat -586px -137px;
    padding-left: 20px;
}
#globalNav li .sub {
    position: absolute;
    z-index: 9999;
    top: 47px;
    display: none;
    padding: 10px 0 0 0;
}
#globalNav li:hover .sub {
    display: block;
    -webkit-animation-name: fadein;
    -webkit-animation-duration: .3s;
    -webkit-animation-iteration-count: once;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: ease-out;
}

#globalNav li .sub .menu {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #addef1;
    -webkit-box-shadow: 0 0 10px #777;
    -moz-box-shadow: 0 0 10px #777;
    box-shadow: 0 0 10px #777;
    background: #fff;
    padding: 24px 22px 22px 10px;
    overflow: hidden;
}
#globalNav li .sub .menu .otherFeatures {
    margin: 0 0 0 10px;
    padding: 24px 0 0 0;
    clear: both;
    text-align: right;
    line-height: 14px;
}
#globalNav li .sub .menu .otherFeatures a {
    text-shadow: none;
    float: none;
    font-weight: normal;
    height: auto;
    margin: 0;
    padding: 0;
    line-height: 14px;
    color: #00aff0;
    text-decoration: none;
}
#globalNav li .sub .menu .otherFeatures a:hover {
    text-decoration: underline;
    background: none;
}
#globalNav li .sub .menu ul {
    display: block;
    float: left;
    width: 150px;
    margin-left: 10px;
}
#globalNav li .sub .menu ul li {
    background: none;
    float: none;
    line-height: 21px;
    margin: 0;
    margin-bottom: 3px;
    padding: 0;
    height: auto;
}
#globalNav li .sub .menu ul li.title {
    line-height: 24px;
    font-size: 24px;
    color: #969696;
    padding: 4px 0 24px 0;
}
#globalNav li .sub .menu ul li.title a {
    font-size: 24px;
    color: #969696;
    font-weight: normal;
}
#globalNav li .sub .menu ul li.separator {
    padding: 0 0 18px 0;
    margin: 0 0 18px 0;
    border-bottom: 1px solid #e7e7e7;
}
#globalNav li .sub .menu ul li a {
    background: none;
    float: none;
    color: #009fd9;
    text-shadow: none;
    text-decoration: none;
    padding: 4px 0;
    margin: 0;
    font-size: 14px;
    line-height: 19px;
    font-weight: bold;
}
#globalNav li .sub .menu ul li a:hover {
    background: none;
    text-decoration: underline;
    padding: 4px 0;
}
#globalNav li .sub .menu ul li.sublink a {
    font-weight: normal;
}
#globalNav li.singleColumn .sub {
    left: 50%;
    margin-left: -98px;
    top: 47px;
    min-width: 196px;
}
#globalNav li.singleColumn .sub .menu ul {
    width: auto;
    white-space: nowrap;		
}
#globalNav li.singleColumn .sub .menu ul li {
    min-width: 150px;	
}
#globalNav li .pointer {
    height: 11px;
    width: 100%;
    position: relative;
    top: 47px;
    left: 50%;
    margin-left: -50%;
    display: none;
    z-index: 10000;
    background: url('/img/header_sprite_24bit.png') no-repeat center 5px;
    font: 1px/1px monospace;
}
#globalNav li:hover .pointer {
    display: block;
    -webkit-animation-name: fadein;
    -webkit-animation-duration: .3s;
    -webkit-animation-iteration-count: once;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: ease-out;
}	